* text=auto
*.py text eol=lf
*.tex text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf
*.pdf binary
*.gz binary
*.png binary
*.jpg binary
SHA256SUMS text eol=lf
